extends layout 

block content 
    h1= genre.name
    if genre_books.length
        ul
            each book, i in genre_books
                li
                    a(href='/book/#{book.id}')= book.title
                    p Written by: #{book.author}
                    p Summary: #{book.summary}
                    p ISBN: #{book.isbn}
    else
        p No books in this genre.

    a(href=genre.url + '/update', class='btn btn-primary') Update Genre

    a(href=genre.url + '/delete', class='btn btn-primary') Delete Genre
