extends layout

block content
  .jumbotron
    h1.display-4= title
    p.lead Welcome to #[em LocalLibrary], your one-stop resource for managing and exploring our extensive book collection.
  h1 Dynamic content

  p The library has the following record counts:

  ul.list-group
    li.list-group-item #[strong Books:] !{book_count}
    li.list-group-item #[strong Copies:] !{book_instance_count}
    li.list-group-item #[strong Copies available:] !{book_instance_available_count}
    li.list-group-item #[strong Authors:] !{author_count}
    li.list-group-item #[strong Genres:] !{genre_count}

  // Toggle database type
  h2 Database type
  form(method='POST', action='/catalog/toggle-database')
    input(type='radio', name='db', value='mongodb', id='mongodb', checked=(db_type==='mongodb') ? 'checked' : undefined)
    label(for='mongodb') MongoDB
    br
    input(type='radio', name='db', value='mysql', id='mysql', checked=(db_type==='mysql') ? 'checked' : undefined)
    label(for='mysql') MySQL
    br
    button.btn.btn-primary(type='submit') Submit
